@model IEnumerable<FietsModel>

<table>
   
    <tr>
        <th>Merk</th>
        <th>Type</th>
        <th>KaderGrootte</th>
        <p>Wouter is here</p>
    </tr>
    @foreach (FietsModel fietsModel in Model)
    {
        <tr>
            <td>@fietsModel.Merk</td>
            <td>@fietsModel.Type</td>
            <td>@fietsModel.Maat</td>
        </tr>
    }
</table>