<h1>@ViewData["title"]</h1>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @Html.ActionLink("Go to DemoIndex", "Index", "Demo", new {id="5"}, new { @class = "btn btn-primary btn-large" })

</div>
